* {
  font-family: "Lato", sans-serif;
}
.icon{
  color: white;
  background: black;
  border-radius: 3px;
  font-size: 25px;
  width: 25px;
  margin: 3px;
}
.icon-facebook-f:hover{
  background: blue;
}
.icon-twitter:hover{
  background: skyblue;
}
.icon-pinterest:hover{
  background: red;
}
.icon-instagram:hover{
  color: blue;
}
