header {
  background: #171717;
  color: #fff;
  height: 30px;
  font-size: 13px;
  /*padding: 7px 0;*/
}
header a {
  color:#fefefe;
}
header img {
  width: 20px;
  height: 20px;
}

.menu {
  margin-top: 30px;
  height: 50px;
}
.logo img {
  width: 64px;
  height: 25px;
}

.item i {
  color: #aaa;
  font-size: 1.7em;
}
.item .fi-mail {
  color: #fefefe;
}

.item .fi-lock {
  margin-left: 14px;
}

.menu .title-bar {
  background: none;
}
@media screen and (min-width:600px;) {
  .logo img {
    width: 84px;
    height: 33px;
    float: left;
  }
}
